<div>
    <!-- Search and Sort Controls -->
    <div class="controls">
      <input type="text" [(ngModel)]="searchTitle" placeholder="Search by title" />
      <button (click)="search()">Search</button>
      <button (click)="sortByName()">Sort by Name ({{ sortDirection === 'asc' ? 'Ascending' : 'Descending' }})</button>
    </div>
  
    <!-- Product List -->
    <div class="product-list">
      <div *ngFor="let product of products">
        <div><img [src]="'https://tabledusud.nl' + product.thumbnailImage" /></div>
        <h3>{{ product.name }}</h3>
        <p>{{ product.price.amount }} {{ product.price.currency }}</p>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="pagination">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
